{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ template "title" . }} - Quicknotes</title>
</head>
<body>
    <header>
        <div class="logo">Quicknotes</div>
        <nav>
            <a href="/">Home</a>
        </nav>
    </header>
    <main>
        {{ template "main" . }}
    </main>
    <footer>
        &copy;2023 por Robson Gomes. Todos os direitos reservados.
    </footer>
</body>
</html>
{{ end }}