{{ define "title" }}Entrar no sistema{{end}}

{{ define "main" }}
<form class="user-form" action="/user/signin" method="post">    
    <h1>Entrar no sistema</h1>
    {{with .Flash}}
        <p class="success">{{.}}</p>
    {{end}}
    {{with .FieldErrors}}
        <ul class="errors">
        {{range .}}
            <li>{{.}}</li>
        {{end}}
        </ul>
    {{end}}
    {{csrfField}}
    <label for="email">E-mail</label>
    <input name="email" type="text" id="email">

    <label for="password">Senha</label>
    <input type="password" name="password" id="password">

    <input type="checkbox"><span>Mostrar senha</span>

    <button class="success" type="submit">Entrar</button>        
    
    <p class="space-between">
        <a href="/user/signup">Cadastrar-se</a>
        <a href="/user/forgetpassword">Esqueci minha senha</a>
    </p>
</form> 
{{end}}

{{define "script"}}
    <script>
        $("p.success").fadeOut(2000)
        $(":checkbox").click(function(){
            if ($(this).is(":checked")) {
                $("#password").attr("type", "text")
            } else {
                $("#password").attr("type", "password")
            }
        })
    </script>
{{end}}