{{ define "title" }}Esqueci minha senha{{end}}

{{ define "main" }}
<form class="user-form" action="/user/forgetpassword" method="post">    
    <h1>Esqueci minha senha</h1>
    {{with .FieldErrors}}
        <ul class="errors">
        {{range .}}
            <li>{{.}}</li>
        {{end}}
        </ul>
    {{end}}
    {{csrfField}}
    <label for="email">E-mail</label>
    <input name="email" type="text" id="email" value="{{.Email}}">

    <button class="success" type="submit">Solicitar nova senha</button>
</form> 
{{end}}

{{define "script"}}
    <script>
        $(":checkbox").click(function(){
            if ($(this).is(":checked")) {
                $("#password").attr("type", "text")
            } else {
                $("#password").attr("type", "password")
            }
        })
    </script>
{{end}}