{{ define "title" }}Nova senha{{end}}

{{ define "main" }}
<form class="user-form" action="/user/password" method="post">    
    <h1>Nova senha</h1>
    {{with .Errors}}
        <ul class="errors">
        {{range .}}
            <li>{{.}}</li>
        {{end}}
        </ul>
    {{end}}
    {{csrfField}}
    <input type="hidden" name="token" value="{{.Token}}">

    <label for="password">Senha</label>
    <input type="password" minlength="6" name="password" id="password">

    <label for="password-confirm">Confirmar senha</label>
    <input type="password" minlength="6" name="password-confirm" id="password-confirm">

    <input type="checkbox"><span>Mostrar senhas</span>

    <button disabled class="success" type="submit">Enviar</button>
</form> 
{{end}}

{{define "script"}}
    <script>
        $(":checkbox").click(function(){
            if ($(this).is(":checked")) {
                $("[type=password]").attr("type", "text")
            } else {
                $("[type=text]").attr("type", "password")
            }
        })
        $("input").on('keyup', function() {
            const password = $("#password").val()
            const confirm = $("#password-confirm").val()
            if (password.length > 5 && password === confirm) {
                $("button").removeAttr("disabled")
            } else {
                $("button").attr("disabled", "disabled")
            }
        })
    </script>
{{end}}